<div class="dashboard row">
    <Dashboard::Searchbar @searchStat={{@onClick}} />

    <div class="row output">

        <div class="col-12 stats">
            <div class="row panel graph bit-rate" id="bits-area">
                {{!-- <img src="https://cdn.pixabay.com/photo/2016/01/20/10/48/graph-1151294_960_720.png" height="130px" alt="" srcset=""> --}}
            </div>

            <div class="row panel graph packages-loss" id="packageloss-area">
                {{!-- <img src="https://cdn.pixabay.com/photo/2016/01/20/10/48/graph-1151294_960_720.png" height="130px" alt="" srcset=""> --}}

            </div>
        </div>
    </div>
</div>