



<div class="dashboard row">
    <Dashboard::Searchbar/>

    <div class="row output">
        <div class="col-4">
            <div class="info panel">
                <h3 class="info-head">
                    <b>Fields</b>
                </h3>

                {{#each @model as |record|}}
                    <span class="info-element">
                        <span class="info-header">
                            {{get record "0"}}:
                        </span>
                        <span class="info-value">
                            {{get record "1"}}
                        </span>
                    </span>
                {{/each}}


                
                {{!-- <span class="info-element">
                    <span class="info-header">
                        ID:
                    </span>
                    <span class="info-value">
                        27831293
                    </span>
                </span>

                <span class="info-element">
                    <span class="info-header">
                        Event type: 
                    </span>
                    <span class="info-value">
                        8
                    </span>
                </span>

                <span class="info-element">
                    <span class="info-header">
                        Created:
                    </span>
                    <span class="info-value">
                        2019-01-31T14:51:13.980Z
                    </span>
                </span>

                <span class="info-element">
                    <span class="info-header">
                        Updated:
                    </span>
                    <span class="info-value">
                        2019-01-31T14:51:13.980Z
                    </span>
                </span>

                <span class="info-element">
                    <span class="info-header">
                        User agent:
                    </span>
                    <span class="info-value">
                        Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36
                    </span>
                </span> --}}
            </div>
        </div>
        
        <div class="col-8 stats">
            <div class="row panel graph bit-rate">
                <img src="https://cdn.pixabay.com/photo/2016/01/20/10/48/graph-1151294_960_720.png" height="130px" alt="" srcset="">
            </div>

            <div class="row panel graph packages-loss">
                <img src="https://cdn.pixabay.com/photo/2016/01/20/10/48/graph-1151294_960_720.png" height="130px" alt="" srcset="">
            </div>
        </div>
    </div>
</div>