<div class="card">
    <div class="card-header">
        Event type: <b><i>{{@event_type}}</i></b>
        <small class="createdAt"> Created at {{@created_at}}</small>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{@session_id}}</h5>
        <p class="card-text">User agent {{@user_agent}}</p>
        <a href="#" class="btn btn-outline-dark">View</a>
    </div>
</div>