

<div class="text-center col-6 offset-3">
    <div class="panel search-panel">
        <input type="text" name="searchbar" id="searchbar" placeholder="search by id">
        <span class="search-button">Search</span>
    </div>
</div>
