<nav class="navbar navbar-dark" style="background-color: #E04E39;">
    <a class="navbar-brand" href="/">Navbar</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <Dashboard/>

            {{outlet}}
        </div>
    </div>
</div>