<div class="container-fluid">
    <div>
        <Dashboard @model={{this.model}} @onClick={{this.searchStat}}>
            {{#if this.isLoading}}
                <div class="text-center">
                    <div class="spinner-grow spinner-grow-lg text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            {{/if}}
            <div class="row info">
                <div class="col">
                    <Header @text="User agents" />
                    <span>
                        {{#each this.model.userAgents as |stat|}}
                        <Statistic @stat={{stat}} />
                        {{/each}}
                    </span>
                </div>
                <div class="col">
                    <Header @text="Errors" />
                    <span>
                        {{#each this.model.errors as |stat|}}
                        <Error @error={{stat}} />
                        {{/each}}
                    </span>
                </div>
            </div>
        </Dashboard>
    </div>
</div>