<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <Dashboard @model={{this.model}} @onClick={{this.searchStat}} />

            <ul>
                {{#each this.model as |stat|}}
                <Statistic @stat={{stat}} />
                {{/each}}
            </ul>
        </div>
    </div>
</div>